.catlist {
  /* 
    todo: having the cats flowed in columns looks okay most of the time but it would be better to use a masonry grid
    ...if any browser supports it: https://caniuse.com/mdn-css_properties_grid-template-rows_masonry
  */
  /* display:grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-template-rows: masonry; */
  @media (min-width: 576px) {
    column-count: 2;
  }
  @media (min-width: 768px) {
    column-count: 3;
  }
  @media (min-width: 1024px) {
    column-count: 4;
  }

  column-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    margin-bottom: 1rem;
    position: relative;
    img {
      display: block;
      border-radius: var(--pico-border-radius);
    }
  }
}

.favourite-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background: var(--pico-form-element-invalid-focus-color);
  color: #fff;
  border-radius: var(--pico-border-radius);
  padding: 0 var(--pico-border-radius);
}

.vote-buttons {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  background: var(--pico-primary-background);
  color: var(--pico-primary-inverse);
  border-radius: var(--pico-border-radius);
  padding: 0 var(--pico-border-radius);
  .vote-count {
    min-width: 2em;
    text-align: center;
    display: inline-block;
  }
}
