@use '@picocss/pico/scss/pico' with (
  $theme-color: 'azure',
  $enable-semantic-container: false,
  $semantic-root-element: '#root',
  $enable-classes: true,
  $modules: (
    'content/code': false,
    'forms/input-color': false,
    'forms/input-date': false,
    'forms/input-file': true,
    'forms/input-range': false,
    'forms/input-search': false,
    'components/accordion': false,
    'components/card': true,
    'components/dropdown': false,
    'components/loading': true,
    'components/modal': true,
    'components/nav': true,
    'components/progress': false,
    'components/tooltip': false,
    'utilities/accessibility': false,
    'utilities/reduce-motion': false,
  )
);
